{% extends 'base.html' %}
{% block main %}

    Banco de Horas
<br>
    {% for registro_re in object.list%}
        <a href="{% url 'update_hora_extra' registro_re.id %}">
            {{ registro_re }}
        </a>
        <a href="{% url 'delete_hora_extra' registro_re.id %}">
            Deletar
        </a>
        <br>
    {% endfor %}

    {% if not object.list %}
        <h3>NAO EXISTEM REGISTRO</h3>
    {% endif %}
    <a href="{% url 'create_registro_hora_extra' %}" class="btn btn-info"> Novo </a>

{% endblock main %}
